.container {
    display: flex;
    justify-content: center;
}

.khra {
    height: 100px;
    width: 100px;
}

.lwest {
    flex-grow: 1;
}

#guts-name {
    text-align: center;
}

#guts-name h1 {
    font-family: 'Bahianita', cursive;
    font-size: 200px;
}

a {
    text-decoration: none;
    color: #660000;
}

a:hover {
    color: black;
}

.khra + .khra { 
    margin-left: 2%; 
}