doctype html  
html(lang='en')  
	head
		title Guts
	body
		block content
			main
				section.guts__content
					header.guts_header
						h1 I Hate Life, I Like Guts
						img(src="https://i.pinimg.com/originals/ca/04/3d/ca043d7fdc85c000032f8963b5b7139d.png")
						p You’re going to be all right. You just stumbled over a stone in the road. It means nothing. Your goal lies far beyond this. Doesn’t it? I’m sure you’ll overcome this. You’ll walk again… soon.